<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-nlog.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">

		<target xsi:type="File" name="LogFile" fileName="logs\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

		<target name="Database"
				xsi:type="Database"
				connectionString="Data Source=192.168.168.111\skr;Initial Catalog=JaNamoni;Persist Security Info=True;User ID=sa;password=123$%^qwED;Connection Timeout=3600"
		>
			<commandText>
				insert into dbo.NLog (
				MachineName, UserId, UserName, UserAgent, Logged, Method,
				RequestUrl, RequestQuerystring, RequestBody, Level, StatusCode,
				Message, Logger, properties, Exception, StackTrace, IsActive
				) values (
				@MachineName, @UserId, @UserName, @UserAgent, @Logged, @Method,
				@RequestUrl, @RequestQuerystring ,@RequestBody, @Level, @StatusCode,
				@Message, @Logger, @Properties, @Exception, @StackTrace , 1
				);
			</commandText>

			<parameter name="@MachineName"         layout="${machinename}" />
			<parameter name="@UserId"              layout="${aspnet-user-claim:ClaimTypes.NameIdentifier" />
			<parameter name="@UserName"            layout="${aspnet-user-identity}" />
			<parameter name="@UserAgent"           layout="${aspnet-request-useragent} " />
			<parameter name="@Logged"              layout="${date}" />
			<parameter name="@Method"              layout="${aspnet-request-method}" />
			<parameter name="@RequestUrl"          layout="${aspnet-request-url}" />
			<parameter name="@RequestQuerystring"  layout="${aspnet-request-querystring}" />
			<parameter name="@RequestBody"         layout="${aspnet-request-posted-body}" />
			<parameter name="@Level"               layout="${level}" />
			<parameter name="@StatusCode"          layout="${aspnet-response-statuscode} " />
			<parameter name="@Message"             layout="${message}" />
			<parameter name="@Logger"              layout="${logger}" />
			<parameter name="@Properties"          layout="${all-event-properties:separator=|}" />
			<parameter name="@Exception"           layout="${exception:tostring}" />
			<parameter name="@StackTrace"          layout="${stacktrace}" />
			<dbProvider>System.Data.SqlClient</dbProvider>
		</target>

	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler" minlevel="Error" final="true" />
		<logger name="*" minlevel="Error" writeTo="LogFile" />
		<logger name="*" minlevel="Error" writeTo="Database" />
	</rules>
</nlog>